{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid my-4 px-5">
Welcome to Motorpact.com - your one-stop destination for buying cars online! We are dedicated to making the car buying process as seamless and hassle-free as possible. With a wide selection of top-quality vehicles to choose from, we provide an easy and convenient way for you to find and purchase the car of your dreams. Our user-friendly website allows you to browse through different car models, compare prices and features, and make informed decisions based on your preferences and budget. We also offer financing options and other services to help you make the most of your car buying experience. Trust us to help you find your perfect ride - start browsing today!
</div>
{% endblock body %}